.title-page {
  display: block;

  text-align: center;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.4);
  color: black;
  text-shadow: 0 5px 10px white;
}

.title-dog{
    text-align: center;
    margin: auto;
}

.img-st{
    display: block;
    margin-left: 300px;
    width: 50%;
  height: 25%;
  border: 1px solid black;
  box-shadow: 0.3em 0.3em 0.3em black;
  
}

.title-temp{
    text-align: center;
    margin: auto;
    object-fit: cover;
    background:  rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    color: black;
  text-shadow: 0 5px 10px white;
}

.descr{
    font-size: 40px;
    text-align: center;
    text-shadow: 0 5px 10px white;
}

.btnback{
    width: 20%;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    outline: none;
    border: none;
    background: #2755c2;
    color: #fff;
    font-size: 15px;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: all .5s ease;
    
}

.btnback:hover{
    background: #0549e98b;
    color: black;
}